header {
    display: grid;
    grid-template-columns: 5fr 5fr;


}

.vlevo-nadpis {
    background-color: rgb(0, 0, 0, 0.9);
    padding-left: 100px;
}

.vlevo-nadpis img {
    height: 100px;
}

.vpravo-nadpis {
    display: flex;
    background-color: rgb(0, 0, 0, 0.9);
    align-items: center;
    justify-content: left;
}


.vpravo-nadpis li {
    display: inline;
    color: rgb(255, 255, 255, 0.8);
    padding: 15px;
    text-transform: uppercase;
    font-family: roboto;
}
