header {
    display: grid;
    grid-template-columns: 5fr 5fr;
  
  
}

.vlevo-nadpis {
    background-color: rgb(0, 0, 0, 0.9);
    padding-left: 100px;
}

.vlevo-nadpis img {
    height: 100px;
}

.vpravo-nadpis {
    background-color: blue;
    display: inline;
}