body {
    background-color: rgb(0, 0, 0, 0.9);
}

.hlavicka {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vlevo-nadpis {
    padding-left: 20%;
}

.vlevo-nadpis img {
    height: 100px;
}

.vpravo-nadpis {
    display: flex;
    align-items: center;
    justify-content: center;
}


.vpravo-nadpis li {
    display: inline;
    color: rgb(255, 255, 255, 0.8);
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.úvod {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("pic/keyboard.jpg");
    height: 600px;
    display: grid;
    align-items: top;
    justify-content: center;
    background-size: cover;
    background-position: center;

}

.CV_foto {
    background-color: rgba(24, 24, 24, 1);
    margin: 40px 0;
    padding: 0 30px;
    border-radius: 5px
}

.CV_foto .profilovka {
    height: 300px;

}

.CV_foto h1,
.CV_foto h5 {
    color: rgb(255, 255, 255, 0.8);
    text-align: center;

}


.CV_foto h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.media {
    display: grid;
    grid-auto-flow: column;

}

.media ul {
    justify-content: center;

}

.media li {
    display: inline;
    padding: 10px;

}

.media a {
    height: 20px;

}

.sloupce {
    display: grid;
    grid-template-columns: 50% 50%;

}

.o_mne,
.dovednosti,
.profesni-cesta {
    padding: 3% 20%;

}


.o_mne h1,
.dovednosti h1,
.profesni-cesta h1,
.pozice {
    color: rgba(255, 112, 197, 0.7);
}

.o_mne h6,
.dovednosti h6,
.profesni-cesta h6,
.firma {
    color: rgba(176, 100, 147, 0.7);
    text-transform: uppercase;
    padding-bottom: 3%;
}

.pozice,
.firma {
    text-transform: uppercase;

}

.o_mne p,
.dovednosti p {
    color: rgb(255, 255, 255, 0.8);
    font-family: 'Libre Baskerville', serif;
    font-size: larger;
    line-height: 200%;
}

.prace {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
 


.odstavec-prace {
    color: rgb(255, 255, 255, 0.8);
    border:1px solid rgba(176, 100, 147, 0.7);
    padding: 10%;
    border-radius: 5px;
}

.napln-prace {
    font-family:  'Libre Baskerville', serif;
}
   
.graficke {
    
}
